<!-- app/views/leagues/_form.html.erb -->

<%= form_with(model: @league) do |form| %>
  <% if @league.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>

      <ul>
      <% @league.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Rest of the form -->
<% end %>
