<%= form_with(model: player_performance) do |form| %>
  <% if player_performance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player_performance.errors.count, "error") %> prohibited this player_performance from being saved:</h2>

      <ul>
        <% player_performance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
