<h1>Editing player performance</h1>

<%= render "form", player_performance: @player_performance %>

<br>

<div>
  <%= link_to "Show this player performance", @player_performance %> |
  <%= link_to "Back to player performances", player_performances_path %>
</div>
